<div class="container text-center mt-4">
    <div class="row">
        <div class="col4">
            <form (keydown.enter)="$event.preventDefault()"
                (keyup.enter)="addNewExperience({
                            'employer': employer.value,
                            'startDate': startDate.value,
                            'endDate': endDate.value,
                            'title': title.value,
                            'description': description.value
                        })">
                <div class="form-group">
                  <h3 for="experience">New Work Experience</h3>
                  <input #employer type="text" class="form-control" id="employer" placeholder="Employer">
                  <input #startDate type="date" class="form-control" id="startDate" placeholder="Start Date">
                  <input #endDate type="date" class="form-control" id="endDate" placeholder="End Date">
                  <input #title type="text" class="form-control" id="title" placeholder="Job Title">
                  <input #description type="text" class="form-control" id="description" placeholder="Job Description">
                </div> 
            </form>
        </div>
        <div class="row">
            <div class="col8">
                <div>
                    <button type="button" class="btn btn-danger mx-1 mt-2" routerLink="../">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary mx-1 mt-2"
                        (click)="addNewExperience({
                            'employer': employer.value,
                            'startDate': startDate.value,
                            'endDate': endDate.value,
                            'title': title.value,
                            'description': description.value
                        })">
                        Add Experience
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>