<div class="rounded container-fluid main bg-white mt-4">
    <h2 class="p-2 fw-bold text-center">Resume App</h2>
</div>

<div class="rounded container-fluid main bg-white mt-3">
    <div class="row p-2">
        <div class="col-3 border">
            <h4 class='fw-bold p-2'>Users</h4>
            <div class="list-group p-2">
                <a [routerLink]="['/portal', user._id]" 
                routerLinkActive="active"
                *ngFor="let user of users" 
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                aria-current="true">
                {{ user.firstName }} {{ user.lastName }}
                <span style="color:red" (click)="deleteUser(user)" class="badge bg-white rounded-pill">X</span>
                </a>
            </div>
            <div class="row p-2">
                <div class="col-12">
                    <button type="button" class="btn btn-outline-primary" (click)=addNewUser() routerLink="/new-user">
                        New User
                    </button>
                </div>
            </div>    
        </div>
        <div class="col-9 border">
            <h4 class='fw-bold p-2'>Work Experience</h4>
            <div class="list-group p-2">
                <li style="cursor: pointer" 
                    *ngFor="let experience of experiences"
                    class="list-group-item d-flex justify-content-between align-items-center">
                        {{ experience.title  }} at {{ experience.employer }}<br/>
                        {{ experience.startDate | date: 'MM/yyyy' }} - {{ experience.endDate | date: 'MM/yyyy'}}<br/> 
                        {{ experience.description }}
                        <span (click)="deleteExperience(experience)" class="badge bg-danger rounded-pill">x</span>
                        <span (click)="addExperienceToResume(experience)" class="badge bg-success rounded-pill">+</span>
                    </li>
                <div class="row p-2">
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary"
                            (click)=addNewExperience()>
                            New Experience
                        </button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary"
                            (click)=editExperience()>
                            Edit Experience
                        </button>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="row p-2">
        <div class="col-12 border">
            <h4 class='fw-bold p-2'>Resumes</h4>
            
            <select #t class="p-2" id="resumeTitle" value="resume._experienceArray" 
            (change)="updateResumeTitle()">
                <option class="" disabled selected value="undefined">Select a Resume</option>
                <option *ngFor="let resume of resumes" [value]=resume._id>
                    <div >{{ resume.title }}</div>
                </option>
            </select>
            
            <div class="list-group p-2">        
                <a style="cursor: pointer" *ngFor="let experience of resumeExperience" 
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                aria-current="true">
                {{ experience.title  }} at {{ experience.employer }}<br/>
                {{ experience.startDate | date: 'MM/yyyy' }} - {{ experience.endDate | date: 'MM/yyyy'}}<br/> 
                {{ experience.description }}
                <span (click)="removeExperienceFromResume(experience)" class="badge bg-danger rounded-pill">-</span>
            </a>
            <div class="row p-2">
                <div class="col-12">
                    <button type="button" class="btn btn-outline-primary"
                        (click)=addNewResume()>
                        New Resume
                    </button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>